<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="application.bop3000">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE"/>

    package="application.bop3000"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="30" />

    <!-- Permissions for external db -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Cleartext HTTP traffic for external db -->
    <application
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Menu.Menu" />
        <activity android:name=".Subscription.Subscription" />
        <activity android:name=".Subscription.Subscription_change" />
        <activity android:name=".FAQ.faq" />
        <activity android:name="login.Login" />
        <activity android:name="userprofile.ChangePassword" />
        <activity android:name="userprofile.UserSettings" />
        <activity android:name="userprofile.ChangeSubscriptionOLD" />
        <activity android:name="userprofile.UserSettingsOLD" />
        <activity android:name="userprofile.UserProfile"
            android:theme="@style/Theme.Profile"/>
        <activity android:name="register.Register">
        android:theme="@style/Theme.BOP3000">
        <activity android:name="subscription.newSubscription"></activity>
        <activity android:name=".payment_method.newPayment_method" />
        <activity android:name="subscription.Subscription" />
        <activity android:name=".payment_method.Payment_method" />
        <activity android:name=".inspiration.Inspiration_newpost" />
        <activity
            android:name=".inspiration.Inspiration"
            android:label="@string/title_activity_inspiration"
            android:theme="@style/Theme.BOP3000.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <service
            android:name="androidx.room.MultiInstanceInvalidationService"
            android:directBootAware="true"
            android:exported="false" />
    </application>

</manifest>